{% extends 'base.html' %}
{% load self_tags %}

{% block content %}
    <div class="wrap list">
        <div class="header clearfix">
            <!--标题和按钮-->
            <div class="title fl">
                <h2>测试用例列表</h2>
            </div>
            <form action="{% url 'case:list' 1 %}" class="search fr" method="GET">
                <input type="text"  name="keyword"  class="input-search"
                       placeholder="搜索项目:name address" value="{{ keyword }}">
                <button type="submit" class="btn-search btn btn-primary">提交</button>

            </form>
        </div>

        {% for case in all_case %}
            <!--item开始-->
            <div class="item clearfix">
                <div class="item-info fl">
                    <a href="{% url 'project:detail' case.project_id %}">
                        <h2 class="title">{{ case.name }}</h2>
                    </a>
                    <div class="meta">
                        <div class="meta-item">
                            <span class="name">项目名:</span>
                            <span class="meta-content">{{ case.project.name }}</span>
                        </div>
                        {% if case.project.address and case.project.address != ':' and case.project.address != 'null' %}
                        <div class="meta-item">
                            <span class="name">测试地址:</span>
                            <span class="meta-content">
                                <a href="http://{{ case.project.address }}" target="_blank">
                                    {{ case.project.address }}
                                </a>
                            </span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <a href="{% url 'project:detail' case.project_id %}">
                    <div class="report-num fr">
                        <span class="num">{{ case.id }}</span>
                        <span class="name">Report</span>
                    </div>
                </a>
            </div>
            <!--item end-->
        {% endfor %}
                <!--Page列表开始-->
                <div class="page">
                    {% if all_case.has_previous %}
                        <a href="{% url 'case:list' 1 %}{% if keyword %}?keyword={{ keyword }} {% endif %}" >首页</a>
                        <a href="{% url 'case:list' all_case.previous_page_number %}{% if keyword %}?keyword={{ keyword }} {% endif %}">上一页</a>
                    {% else %}
                         <a class="page-disabled">首页</a>
                         <a class="page-disabled">下一页</a>
                    {% endif %}

                    {% for page in page_num_list %}
                        {% ifequal page all_case.number %}
                            <a class="page-tag active" href="{% url 'case:list' page %}{% if keyword %}?keyword={{ keyword }} {% endif %}">
                                {{ page }}
                            </a>
                        {% else %}
                            <a class="page-tag" href="{% url 'case:list' page %}{% if keyword %}?keyword={{ keyword }} {% endif %}">
                                {{ page }}
                            </a>
                        {% endifequal %}
                    {% endfor %}

                    {% if all_case.has_next %}
                        {% if keyword %}
                            <a href="{% url 'case:list' all_case.next_page_number %}?keyword={{ keyword }}" >下一页</a>
                        {% else %}
                             <a href="{% url 'case:list' all_case.next_page_number %}" >下一页</a>
                        {% endif %}
                        <a href="{% url 'case:list' last_page %}" >尾页</a>
                    {% else %}
                         <a class="page-disabled">下一页</a>
                         <a class="page-disabled">尾页</a>
                    {% endif %}
                </div>
                <!--Page列表end-->
            </div>
{% endblock %}

{% block sidebar_right %}
    <div class="panel">
        <div class="header">
            最新测试用例
        </div>
        <div class="inner">
            <div class="right-list">
                {% get_latest_cases as latest_cases %}
                <ur>
                    {% for case in latest_cases %}
                        <li>
                            <a href="{% url 'project:detail' case.project_id %}" target="_blank">
                                {{ case.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ur>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="header">
            最新报告
        </div>
        <div class="inner">
            <div class="right-list">
                {% get_latest_report as latest_reports %}
                <ur>
                    {% for execute in latest_reports %}
                        <li>
                            <a href="{% url 'execute:report' execute.pk %}" target="_blank">
                                {{ execute.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ur>
            </div>
        </div>
    </div>
{% endblock %}