<div class="panel">
    <div class="header">
        事务列表
    </div>
    <div class="inner">
        <ol class="right-list shiwu-list">
            {% for shiwu in all_shiwu %}
                <li class="clearfix">
                    <span>{{ shiwu.name }}</span>
                    <div class="buttons fr" data-id="{{ shiwu.id }}">
                        {% ifequal shiwu.user user %}
                            <div class="btn btn-default" onclick="addShiwu(this);">添加</div>
                        {% else %}
                            <div class="btn btn-primary" onclick="cloneShiwu({{ shiwu.id }}, {{ user.pk }});">克隆</div>
                        {% endifequal %}
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
</div>