<!DOCTYPE html>
<html>
    {% load staticfiles %}
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}性能测试{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<script src="{% static 'js/echarts.min.js' %}"></script>
        {% block custom_css %}
        {% endblock %}
	</head>
	<body>
		<div class="container">
			<!--左边栏开始-->
			<div class="sidebar-left">
				<!--logo开始-->
                <a href="/" title="性能测试">
				<div class="logo">
						<img src="{% static 'images/logo.svg' %}" alt="" />
				</div>
                </a>
				<!--logo结束-->

                {% block nav_left %}
				<!--左边导航列表start-->
				<ul class="nav">
					<li><a href="{% url 'project:list' 1 %}">项目列表</a></li>
					<li><a href="{% url 'case:list' %}">测试用例</a></li>
					<li><a href="{% url 'execute:report_list' 1 %}">报告列表</a></li>
				</ul>
				<!--左边导航列表end-->
                <div class="user-info">
                    {% if request.user.is_authenticated %}
                        <div class="user-logout">
                            <span>Hello {{ request.user.username }}</span>
                            <a href="{% url 'user:logout' %}">退出</a>
                        </div>
                    {% else %}
                        <div class="user-login">
                            <a href="{% url 'user:login' %}">登陆</a>
                        </div>
                    {% endif %}
                </div>
                {% endblock %}
			</div>
			<!--左边栏结束-->

			<!--右边主内容区开始-->
			<div class="main">
                {% block main %}
				<!--中间content开始-->
				<div class="content fl">
					{% block content %}
                    {% endblock %}
                </div>
				<!--右边sidebar开始-->
				<div class="sidebar fr">
					{% block sidebar_right %}

                    {% endblock %}
				</div>
				<!--右边sidebar end-->
                {% endblock %}
			</div>
			<!--右边主内容区end-->
		</div>
        </div>
		<!--底部内容开始-->
		<div class="footer">
			<div class="copyright">
				Copyright @ 2011-2016 www.codelieche.com all Rights Reserved
				<br />
				<a href="http://www.miibeian.gov.cn">粤ICP备xxxxxxxxx号</a>

			</div>
		</div>
		<!--底部内容end-->

	</body>

	{% block custom_js %}
    {% endblock %}
</html>
