@charset "UTF-8";

/* case header样式 */
.container .main .content .case {
  padding: 10px 15px;
  .section {
  }
  // form
  form {
    p {
      padding: 2px 10px;
      //select, label, input, textare{
      //  display: inline-block;
      //}
    }
    label {
      width: 80px;
      display: inline-block;
      text-align: left;
      &.label-block {
        display: block;
      }
    }
    select {
      padding: 4px 6px;
      font-size: 14px;
      line-height: 30px;
      height: 30px;
      outline: none;
      border: 1px solid #ccc;
      max-width: 100%;
    }

    input {
      padding: 4px 6px;
      font-size: 14px;
      border-radius: 5px;
      border: 1px solid #ccc;
      outline: none;
    }
    textarea {
      //margin-left: 80px;
      border-radius: 5px;
      border: 1px solid #cccccc;
      outline: none;
      //max-width: 80%;
      width: 100%;
      //overflow: scroll;
      line-height: 24px;
      overflow-y: visible;
    }
    label + textarea {
      margin-top: 5px;
    }
    .buttons {
      //position: absolute;
      padding: 5px;
      text-align: center;
      .btn {
        width: 80px;
        padding: 8px;
      }
      .btn + .btn {
        margin-left: 20px;
      }
    }

  }
}