@charset "UTF-8";
/*
这个文件主要编写，项目详情页面的相关样式
*/
.container .main .content{
  .project-detail {
    padding: 5px 10px;
    /* 头部样式开始 */
    .header {
      //padding: 5px 10px;
      border-bottom: 1px solid #979797;
      .title {
        h2 {
          display: inline-block;
          font-size: 20px;
          line-height: 38px;
          font-weight: 500;
          margin: 5px;
          color: #555;
        }
      }
    }
    /* 头部样式end */
  }
}


/* 测试列表样式开始*/
.container .main .content .project-detail {
  .case-list {
    .add-case {
      text-align: center;
      padding: 50px;
      position: relative;
      span, a {
        display: inline-block;
        color: #999;
      }
      .plus {
        font-size: 60px;
        color: #009dff;
        margin: 0 5px;
        position: relative;
        top: 15px;
      }
    }
    ol {
      li {
        //padding:5px;
        margin-bottom: 5px;
        border-bottom: 1px dashed #d9d9d9;

        .case {
          display: inline-block;
          //margin-top: 5px;
          padding-top: 10px;
        }
        .buttons {
          padding-right: 10px;
          .btn {
            font-size: 14px;
            padding: 3px 5px;
            margin-bottom: 5px;
            width: 70px;
          }
          .btn + .btn {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
/* 测试列表样式end*/

/* 结果列表样式开始 */
.container .main .content .project-detail{
  .report-list {
    //width: 100%;
    .no-report{
      padding: 50px;
      text-align: center;
      margin: 50px auto;
      span {
        display: inline-block;
        color: #999;
      }
    }
    .item {
      //display: inline-block;
      box-sizing: border-box;
      margin-top: 10px;
      //width: 47.5%;
      //margin-right: 2.5%;
      //padding: 5px;
      padding-bottom: 5px;
      .title {
        font-size: 14px;
        line-height: 20px;
        color: #666;
        padding: 5px;
        border: none;
      }
      .stats {
        width: 100%;
        border: 1px solid #ababab;
        //background-color: #eee;
        display: flex;
        .box + .box {
          border-left: 1px solid #9B9B9B;
        }
        .box {
          flex: 1;
          border-radius: 1px;
          padding: 2px 5px;
          .box-stats {
            max-width: 100%;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            .count {
              //line-height: 1em;
              font-size: 16px;
            }
            .units {
              font-size: 12px;
              color: #ababab;
              margin-left: 3px;
            }
          }
          .box-name {
            color: #6f6f6f;
            font-size: 14px;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-top: 3px;
            overflow: hidden;
          }
        }
      }
    }
  }
}
/* 结果列表样式end */