{% extends 'base.html' %}
{% block title %}测试结果 | 性能测试{% endblock %}
{% load staticfiles %}
{% load self_tags %}
{% block content %}
    <!--报告内容开始-->
    <div class="wrap report">
        <!--报告头部内容开始-->
        <div class="header clearfix">
            <!--标题和按钮-->
            <div class="title fl">
                <h2>Report:{{ execute.name }}</h2>
            </div>
            <div class="controls fr">
{#                <a class="btn btn-default">删除</a>#}
                <a class="btn btn-primary" href="{% url 'case:execute' execute.case_id %}">重新运行</a>
            </div>
        </div>
        <!--报告头部内容end-->

        <!--报告内容区域开始-->
        <div class="report-content">

            <!--报告摘要开始-->
            <div class="summary">
                <div class="top-stats">

                    <!--box并发用户数-->
                    <div class="box users">
                        <div class="box-stats">
                            <span class="count">{{ summary.user_count }}</span>
                            <span class="units">个</span>
                        </div>
                        <div class="box-name">
                            并发用户数
                        </div>
                    </div>

                    <!--box每秒吞吐量-->
                    <div class="box rps">
                        <div class="box-stats">
                            <span class="count">{{ summary.total_rps }}</span>
                            <span class="units"></span>
                        </div>
                        <div class="box-name">
                            rps
                        </div>
                    </div>

                    <!--box失败率-->
                    <div class="box errors">
                        <div class="box-stats">
                            <span class="count">{{ summary.num_failures }}</span>
                            <span class="units">次</span>
                        </div>
                        <div class="box-name">
                            失败率:{{ summary.fail_ratio }}
                        </div>
                    </div>

                    <!--box响应时间-->
                    <div class="box response">
                        <div class="box-stats">
                            <span class="count">{{ summary.time_avg }}</span>
                            <span class="units">ms</span>
                        </div>
                        <div class="box-name">
                            响应时间
                        </div>
                    </div>
                </div>
            </div>
            <!--报告摘要end-->

            <!--section:请求统计 开始-->
            <div class="section">
                <div class="title">
                    <span class="pts-icon circle"></span>
                    请求统计
                </div>
                <div class="stats-table inner">
                    <table>
                        <thead>
                          <tr>
                              <th>类型<br><span>(Type)</span></th>
                              <th>网址<br><span>(Name)</span></th>
                              <th>请求数<br><span>(Request)</span></th>
                              <th>失败数<br><span>(Fails)</span></th>
                              <th>中位数<br><span>(Median)</span></th>
                              <th>平均数<br><span>(Avg)</span></th>
                              <th>最快<br><span>(Min)</span></th>
                              <th>最慢<br><span>(Max)</span></th>
                              <th>页面大小<br><span>(Size)</span></th>
                              <th>每秒响应<br><span>(Reqs/Sec)</span></th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for request in stats_request %}
                            <tr>
                                {% for i in request %}<td>{{ i }}</td>{% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--section:请求统计 end-->
            {% if stats_response %}
                <div class="section">
                <div class="title">
                    <span class="pts-icon circle"></span>
                    响应统计
                </div>
                <div class="stats-table inner stats-response">
                    <table>
                        <thead>
                          <tr>
                              <th>Name</th>
                              <th>Request</th>
                              <th>50%</th>
                              <th>66%</th>
                              <th>75%</th>
                              <th>80%</th>
                              <th>90%</th>
{#                              <th>95%</th>#}
{#                              <th>98%</th>#}
{#                              <th>99%</th>#}
                              <th>100%</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for response in stats_response %}
                            <tr>
                                {% for i in response %}
                                    {% if forloop.counter == 8  or forloop.counter == 9 or forloop.counter == 10 %}
                                    {% else %}
                                        <td>{{ i }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            <!--section: 图表展示开始-->
            <div class="section">
                <div class="title">
                    <span class="pts-icon circle"></span>
                    图表展示
                </div>
                <div class="echarts inner" id="echarts"></div>
            </div>
            <!--section: 图表展示end-->

        </div>
        <!--报告内容区域end-->

        <div class="clear"></div>
    </div>
    <!--报告内容end-->
{% endblock %}

{% block sidebar_right %}
    <!--右边面板：结果预览 开始-->
    <div class="panel">
        <div class="header">
            结果预览
        </div>
        <div class="inner">
            <div class="row">
                <span class="config">执行者:</span>
                <span class="config-value">{{ execute.user }}</span>
            </div>
            <div class="row">
                <span class="config">持续时长:</span>
                <span class="config-value">{{ execute.time_start | get_time_sub:execute.time_end }}</span>
            </div>
            <div class="row">
                <span class="config">开始时间:</span>
                <span class="config-value">{{ execute.time_start | strf_time }}</span>
            </div>
            <div class="row">
                <span class="config">结束时间:</span>
                <span class="config-value">{{ execute.time_end | strf_time }}</span>
            </div>
            <div class="row">
                <span class="config">http响应码:</span>
                <span class="config-value">2XX</span>
            </div>

        </div>
    </div>
    <!--右边面板：结果预览 end-->

    <!--右边出错日志开始-->
    {% if all_error %}
    <div class="panel">
        <div class="header">
            出错日志
        </div>
        <div class="inner">
            {% for error in all_error %}
            <div class="row errors">
                <div class="time">
                    第<span class="count">{{ forloop.counter }}</span>次出错:
                    <span class="time">: {{ error.add_time | strf_time }}</span>
                </div>
                <div class="stats">
                    并发用户数
                    <span class="number">{{ error.user_count }}</span>
                    ,RPS为
                    <span class="number">{{ error.total_rps }}</span>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--右边出错日志 end-->
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/echarts.js' %}"></script>
	<script>
		// 基于准备好的dom，初始化echarts实例
		var myChart = echarts.init(document.getElementById('echarts'));
		var colors = ['#5793f3', '#d14a61', '#675bba'];

		// 指定图表的配置项和数据
		var option = {
			color: colors,
			title: {
//				text: "性能测试图标展示"
			},
			grid: {
				left: '7.5%',
				right: '7.5%',
			},
			tooltip: {
				trigger: 'axis',
				formatter: function (params) {
					// console.log(params);
					var result = "时间:" + params[0].axisValue
					for(var i = 0; i < params.length; i++){
						result += "<br>" + params[i].seriesName + ":" + params[i].data;
					}
					return result;
//					return ("时间:" + params[0].axisValue + "<br>" + params[0].seriesName + ":" + params[0].data +
//					" <br>响应时间: "  + params[1].data + "(ms) <br>每秒响应数: "  + params[2].data);
				},
				axisPointer: {
					animation: false
				}
			},
			legend: {
				data: ['并发用户数', "响应时间", "每秒响应数"]
			},
			xAxis: {
				data: {{ echarts_data.add_time }},
				type: 'category',
				name: '时间',
				nameGap:20,
				nameRotate: "-45",
				splitLine: {
					show: false,
				},
				min: "dataMin",
			},
			yAxis: [
				{
					type: 'value',
					axisTick: {
						alignWithLabel: true,
					},
					axisLine: {
						onZero: false,
						lineStyle: {
//							color: colors[1]
						}
					},
					axisLabel:{
						textStyle: {
//							color: colors[0]
						}
					},
					name: '并发用户数/每秒响应数数(个)',
					nameLocation: 'middle',
					nameGap: 35,
					nameTextStyle: {
//						color: colors[0],
						fontSize: 13,
					},
//					nameRotate:45,
					// data: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
					// 不显示网格线
					splitLine: {
						show: false,
					}
				},
				{
					type: 'value',
					axisTick: {
						alignWithLabel: true,
					},
					axisLine: {
						onZero: false,
						lineStyle: {
//							color: colors[2]
						}
					},
					axisPointer: {
						label: {
							formatter: function(params) {
								return '并发用户: ' + params.value + ': ' + params.seriesDate[0] + 'test';
							}
						}
					},
					name: "响应时间(ms)",
					data: {{ echarts_data.time_avg }},
					// 不显示网格线
                  // splitLine: {
                  //    show: false,
                  //}
				}
			],
			series: [{
				name: "并发用户数",
				type: 'line',
				data: {{ echarts_data.user_count }},
				yAxisIndex:0
			},
				{
					name: "响应时间",
					type: "line",
					data: {{ echarts_data.time_avg }},
					// 使用第二个y轴坐标
					yAxisIndex:1
				},
				{
					name: "每秒响应数",
					type: "line",
					data: {{ echarts_data.total_rps }},
					yAxisIndex:0,
					smooth:true,
{#					symbol: 'none',#}
{#					sampling: 'average',#}
					// 画个区域
					areaStyle: {
						normal: {
							color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
								offset: 0,
								color: '#F8F8F8'
							}, {
								offset: 1,
								color: '#eee'
							}])
						}
					},
				}
			]
		};

		// 使用刚指定的配置项和数据显示图表
		myChart.setOption(option);
	</script>
{% endblock %}