{% extends 'base.html' %}
{% block title %}测试执行 | 性能测试{% endblock %}
{% load staticfiles %}
{% load self_tags %}

{% block content %}
    <!--报告内容开始-->
    <div class="wrap report">
        <!--报告头部内容开始-->
        <div class="header clearfix">
            <!--标题和按钮-->
            <div class="title fl">
                <h2>Running:{{ execute.name }}</h2>
            </div>
            <div class="controls fr">
                <a class="btn btn-primary" href="javascript:void(0);" id="stop-execute" data-id="{{ execute.pk }}">停止</a>
            </div>
        </div>
        <!--报告头部内容end-->

        <!--报告内容区域开始-->
        <div class="report-content">

            <!--报告摘要开始-->
            <div class="summary">
                <div class="top-stats">

                    <!--box并发用户数-->
                    <div class="box users">
                        <div class="box-stats">
                            <span class="count">0</span>
                            <span class="units">个</span>
                        </div>
                        <div class="box-name">
                            并发用户数
                        </div>
                    </div>

                    <!--box每秒吞吐量-->
                    <div class="box rps">
                        <div class="box-stats">
                            <span class="count">0</span>
                            <span class="units"></span>
                        </div>
                        <div class="box-name">
                            rps
                        </div>
                    </div>

                    <!--box失败率-->
                    <div class="box errors">
                        <div class="box-stats">
                            <span class="count">0</span>
                            <span class="units">次</span>
                        </div>
                        <div class="box-name">
                            失败次数
                        </div>
                    </div>

                    <!--box响应时间-->
                    <div class="box response">
                        <div class="box-stats">
                            <span class="count">0</span>
                            <span class="units">ms</span>
                        </div>
                        <div class="box-name">
                            响应时间
                        </div>
                    </div>
                </div>
            </div>
            <!--报告摘要end-->

            <!--section:请求统计 开始-->
{#            <div class="section">#}
{#                <div class="title">#}
{#                    <span class="pts-icon circle"></span>#}
{#                    请求统计#}
{#                </div>#}
{#                <div class="stats-table inner">#}
{##}
{#                </div>#}
{#            </div>#}
            <!--section:请求统计 end-->

            <!--section: 图表展示开始-->
            <div class="section">
                <div class="title">
                    <span class="pts-icon circle"></span>
                    说明
                </div>
                    <div class="shuoming" style="margin: 50px;text-align: center">
                            <span style="color: #999;padding: 50px 10px;display: block">
                                更多前台控制性功能，待优化
                            </span>
                    </div>
            </div>
            <!--section: 图表展示end-->

        </div>
        <!--报告内容区域end-->

        <div class="clear"></div>
    </div>
    <!--报告内容end-->
{% endblock %}

{% block sidebar_right %}
    <!--右边面板：结果预览 开始-->
    <div class="panel">
        <div class="header">
            结果预览
        </div>
        <div class="inner">
            <div class="row">
                <span class="config">持续时长:</span>
                <span class="config-value">{{ execute.time_start | get_time_sub:execute.time_end }}</span>
            </div>
            <div class="row">
                <span class="config">开始时间:</span>
                <span class="config-value">{{ execute.time_start }}</span>
            </div>
            <div class="row">
                <span class="config">结束时间:</span>
                <span class="config-value">{{ execute.time_end }}</span>
            </div>
            <div class="row">
                <span class="config">http响应码:</span>
                <span class="config-value">2XX</span>
            </div>
        </div>
    </div>
    <!--右边面板：结果预览 end-->

    <!--右边出错日志开始-->
    <!--
    <div class="panel">
        <div class="header">
            日志列表
        </div>
        <div class="inner">
            <div class="row errors">
                <div class="time">
                    第<span class="count">1</span>次出错:
                    <span class="time">: 2017-3-20 08:40:30</span>
                </div>
                <div class="stats">
                    并发用户数
                    <span class="number">59</span>
                    ,RPS为
                    <span class="number">45.6</span>
                </div>

            </div>

        </div>
    </div>
    -->
    <!--右边出错日志 end-->
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/echarts.js' %}"></script>
    <script src="{% static 'js/zepto.min.js' %}"></script>
    <script src="{% static 'js/running.js' %}"></script>

{% endblock %}